@page "/"

<PageTitle>Home</PageTitle>

@if (loggedUser != null)
{

    <h1>Bienvenido, @loggedUser.SurName @loggedUser.Name!</h1>

    <p>Tipo de usuario: @loggedUser.UserType</p>
}
else // no loggeado
{
    <Login OnLoginSuccess="OnLoginSuccess" />
}


@code{
    @using DTOs
    @using Infrastructure.API;

    private UserDTO? loggedUser;

    private void OnLoginSuccess(UserDTO user)
    {
        loggedUser = user;
        StateHasChanged();
    }
}