@page "/"
@using Blazor.Components
@inject SessionService Session

<PageTitle>Home</PageTitle>


@if (Session.Context.IsLoading)
{
    <p>Cargando...</p>
}
else if (Session.Context.IsAuthenticated)
{

    <h1>Bienvenido, @Session.Context.User.SurName @Session.Context.User.Name!</h1>

    <p>Tipo de usuario: @Session.Context.User.UserType</p>
}
else // no loggeado
{
    <Login />
    <MudText Typo="Typo.body1" Class="mt-3" Align="Align.Center">
        ¿Nuevo Aquí?
        <MudLink Href="/register" Color="Color.Primary" Underline="Underline.Hover">
            Registrarse
        </MudLink>
    </MudText>
}

@code {

    protected override async Task OnInitializedAsync()
    {
        Session.OnChanged += StateHasChanged;
    }
}