@page "/"
@inject SessionService Session

<PageTitle>Home</PageTitle>


@if (Session.Context.IsLoading)
{
    <p>Cargando...</p>
}
else if (Session.Context.IsAuthenticated)
{

    <h1>Bienvenido, @Session.Context.User.SurName @Session.Context.User.Name!</h1>

    <p>Tipo de usuario: @Session.Context.User.UserType</p>
}
else // no loggeado
{
    <Login/>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        Session.OnChanged += StateHasChanged;
    }
}