@page "/login"
@using Infrastructure.API
@using DTOs
<form>
    <div class="form-group">
        <label for="usernameInput">Usuario:</label>
        <input type="text" class="form-control" id="usernameInput" placeholder="Usuario" @bind="@userName">
    </div>
    <div class="form-group">
        <label for="passwordInput">Contraseña:</label>
        <input type="password" class="form-control" id="passwordInput" placeholder="Contraseña" @bind="@password">
    </div>
</form>
<button class="btn btn-primary mt-3" @onclick="@OnClick">Ingresar</button>
<div>@name</div>
@code {
    private string userName { get; set; }
    private string password { get; set; }

    private string name { get; set; }
    private async Task OnClick()
    {
        name = "Loading...";
        AuthClient authClient = ApiClientsFactory.AuthClient();
        var res = await authClient.LoginAsync(new UserLoginRequestDTO() { UserName = userName, Password = password });
        if (!res.Success || res.Data == null)
        {
            name = "Epic Fail";
            return;
        }
        name = $"Hola! {res.Data.Name}";
    }

}
