@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject SessionService Session
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        
        <div class="top-row px-4">
            @if (Session.Context.IsAuthenticated)
            {
                <a role="button" class="" @onclick=@OnLogout>Cerrar Sesión</a>
            }
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        Session.OnChanged += StateHasChanged;
    }

    private async Task OnLogout()
    {
        await Session.LogoutAsync();
        NavigationManager.NavigateTo("/");
    }

}